# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\OneDrive - frc.utn.edu.ar\Facultad\3. Tercer Año\TSB\TPU\TSB-TPUModelo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
